In [1]:
from pybaseball import playerid_lookup
from pybaseball import statcast_pitcher
playerid_lookup('kershaw', 'clayton')

Gathering player lookup table. This may take a moment.

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,kershaw,clayton,477132,kersc001,kershcl01,2036,2008.0,2021.0

In [2]:
kershaw_stats = statcast_pitcher('2017-06-01', '2017-07-01', 477132)
kershaw_stats.head(2)

Gathering Player Data

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
0,SL,2017-06-29,87.2,1.08,6.40,"Kershaw, Clayton",458913,477132,strikeout,swinging_strike_blocked,...,6,6,1,1,6,Standard,Standard,232,-0.003,-0.089
1,SL,2017-06-29,86.9,1.02,6.43,"Kershaw, Clayton",458913,477132,NaN,ball,...,6,6,1,1,6,Standard,Standard,232,0.000,0.016